{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Question
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 mt-5">
                <h2>New Question {{test}}</h2>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form| crispy }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'index' %}" class="btn btn-secondary">Back Home</a>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content %}